<template>
  <div class="hello">
    <h1>{{ name }}</h1>

    <p v-for="(item, index) in data">
    {{ index }} - {{ item.v }}
    </p>

  </div>
</template>

<script>
export default {
  name: 'hello',
  data() {
    return {
      api: {},
      name: '',
      data: {},
    };
  },

  created() {
    this.getData();
  },
  // http://aqicn.org/json-api/doc/
  // http://aqicn.org/faq/2015-10-28/unep-air-quality-monitoring-station/

  methods: {
    getData() {
      this.$http.get('http://api.waqi.info/feed/leeds/?token=24b1bfce289475ed3b369aa38af0750d10d5efe0').then((response) => {
        const data = response.body.data;
        console.log(data);
        this.api = data;
        this.data = data.iaqi;
        this.name = data.city.name;
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
